node_modules
**/node_modules
.git
.gitignore
**/*.md
!README.md
dist
**/dist
.next
**/.next
coverage
**/coverage
*.test.ts
*.spec.ts
**/*.test.*
**/*.spec.*
.env
.env.*
!.env.example
*.log
**/*.log
.DS_Store
Thumbs.db
infra/k6
infra/argocd
docs
.github
